<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Banco ABC</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="CPF" name="cpf" [(ngModel)]="cpf" [cpf]="cpf" #cpfInput="ngModel" mask="000.000.000-00" required>
                        
                            <mat-error *ngIf="cpfInput?.errors?.cpf">
                                CPF inválido
                            </mat-error>
                            <mat-error *ngIf="cpfInput?.errors?.required">
                                CPF obrigatório
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input id="mysecretpassword" matInput placeholder="Senha" [(ngModel)]="senha" #senhaInput="ngModel" type="password" name="senha" maxlength="20" required showHideInput>
                            
                            <i matSuffix
                            class="material-icons"
                            showHideTrigger="mysecretpassword"
                            [showHideStatus]="{ materialIcon: true, id: 'mysecretpassword' }"></i>

                            <mat-error *ngIf="senhaInput?.errors?.required">
                                Senha obrigatória
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
</mat-card>