<form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
        <label>CPF</label>
        <input class="form-control" #Login="ngModel" name="Cpf" [(ngModel)]="formModel.Cpf" required>
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" #Senha="ngModel" name="Senha" [(ngModel)]="formModel.Senha" required>
    </div>
    <div class="form-row">
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-black" [disabled]="form.invalid">Login</button>
        </div>
    </div>
</form>